<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookbook"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity
            android:name="com.cookbook.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/planner_searchable" />
        </activity>

        <activity
            android:name="com.cookbook.ui.TestSearch"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/new_recipe_searchable" />
        </activity>

        <activity
            android:name="com.cookbook.ui.RecipesActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.cookbook.ui.ViewRecipeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.cookbook.ui.EditRecipeActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <service android:name="com.cookbook.viewmodel.service.UpdateStepsService" />
        <service android:name="com.cookbook.viewmodel.service.UpdateRecipeService" />
        <service android:name="com.cookbook.viewmodel.service.UpdateIngredientsService" />
        <service android:name="com.cookbook.viewmodel.service.UpdatePlannerService" />

        <provider
            android:authorities="com.cookbook.provider.plannersuggestion"
            android:name="com.cookbook.data.provider.PlannerSuggestionProvider"
            android:exported="false">
        </provider>
        <provider
            android:authorities="com.cookbook.provider.newrecipesuggestion"
            android:name="com.cookbook.data.provider.NewRecipeSuggestionProvider"
            android:exported="false">
        </provider>
    </application>

</manifest>